body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(204, 202, 202);
}

h1, h3, .card-body>.card-title {
  font-family: "chalkduster";
  padding-top: 1rem;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
  color: white;
}

h2 {
  color: #3046C5;
  font-family: "lobster"
}

.card-img-overlay .card-title {
  color: white; 
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: url("./test/assets/images/black\ cultured\ stone.jpg");
  padding: 5px;
  color: white;
  }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: url("./test/assets/images/black\ cultured\ stone.jpg");
  color: white;
}

.jumbotron h2 {
  color: rgb(255, 187, 0);
}

.navbar-dark {
  background-color: rgb(39, 36, 36);
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 0rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;   
}

.cardtext {
  text-align: left;
  background-color: gray;
}

.card {
  text-align: center;
}

.card-body {
  background-color: rgb(39, 36, 36);
  color: orange;
  font-family: "lobster";
  font-size: xx-large;
  padding-top: 0.3125rem;
  padding-bottom: 0.125rem;
}

a {
  color: white;
}

